{:paths ["src" "resources" "lib/ibapi.jar"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "ib.test-runner"]}}}
